<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/Images/logo.png" type="image/x-icon">
    <link href="~/Content/niceselect/css/nice-select.css" rel="stylesheet" />
</head>
<body onload="onLoad();">
    <div class="navbar navbar-default navbar-fixed-top" style="background-color: lightblue;">
        <div class="container-fluid">
            
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" href="/">
                    <img src="~/Images/Logo.png" alt="Brand" style="height: 50px;" />
                </div>
                @Html.ActionLink("My Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "font-weight: 700; color: #498f9c" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                <div class="form-inline navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search.." name="searchStr" id="searchBox">
                    </div>
                   
                </div>
                @Html.Partial("LoginPartial")
                @{
                    if (Session["SessionID"] != null)
                    {
                        Html.RenderAction("BasketSummary", "Basket");
                    }
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/Content/niceselect/js/jquery.nice-select.min.js"></script>
<script>
    $(document).ready(() => {

        //nice select plugin for activation code select
        $('.activationcodes').niceSelect();

        $('.add').click(function () {
		
    	$(this).prev().val(+$(this).prev().val() + 1);
		
    });
    $('.sub').click(function () {
		if ($(this).next().val() > 1) {
    	if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
		}
    });
    })
    function onLoad() {
        var searchBox = document.getElementById("searchBox");
        searchBox.addEventListener("keypress", function (e) {
            var key = e.which || e.keyCode;
            if (key === 13) {
                try {
                    var data = { searchStr: searchBox.value };
                    doPOST(data);
                }
                catch (e) {
                    var i = 0;
                }
            }
        })
    }

    function doPOST(data) {
        var ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (ajax.readyState == 4) {
                document.open();
                document.write(ajax.response);
                document.close();
            }
        }

        ajax.open("POST", "/Home/Index", true);
        ajax.setRequestHeader("Content-type", "application/json; charset=UTF-8");
        ajax.send(JSON.stringify(data));
    }
</script>